doctype html
html
	head
		meta(charset="UTF-8")
		title Interactive Form
		link(href="https://fonts.googleapis.com/css?family=Lato:300,400", rel="stylesheet", type="text/css")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css")
		link(rel="stylesheet", href="css/style.css")
	body
		form
			input#input-1(type="text", placeholder="Achmed Jan", required="", autofocus="")
			label(for="input-1")
				span.label-text Full Name
				span.nav-dot
				.signup-button-trigger Sign Up
			input#input-2(type="text", placeholder="john", required="")
			label(for="input-2")
				span.label-text Username
				span.nav-dot
			input#input-3(type="email", placeholder="email@address.com", required="")
			label(for="input-3")
				span.label-text Email
				span.nav-dot
			input#input-4(type="text", placeholder="●●●●●●", required="")
			label(for="input-4")
				span.label-text Password
				span.nav-dot
			input#input-5(type="text", placeholder="●●●●●●", required="")
			label(for="input-5")
				span.label-text Confirm Password
				span.nav-dot
			button(type="submit") Create Your Account
			p.tip Press Tab
			.signup-button Sign Up
		script(src="js/index.js")
