doctype html
html
head
  title CSS Contact Form
  meta(charset="utf-8")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css")
  link(rel="stylesheet", href="css/style.css")
body
  h2.title Bulletin Board Application
  if title 
      h2
  form.form(action="/post", method="post")
    p.name
      input(type="text" id="titleField", name="titleInput", placeholder="Title")
    p.text
      textarea(name="bodyInput" id='textfield', placeholder="Write message here")
      p.submit
      input(type="submit" id="button", value="Post")
  form.form(action="/messages", method="get")
    input(type="submit" id="button" value="Show all posts")
	
